@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.box{
    display: none;
}

@media screen and (min-width: 75em) {
    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 100%;
      left: 5%;
      transform: translateY(-120%);
      width: 4em;
      height: 4em;
      background-color: #fdb8ec;
      border-radius: 50%;
      z-index: 1;
      transition: width 200ms;
      animation: fadeIn 4s ease 1 forwards;
    
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        border-radius: inherit;
        background-image: conic-gradient(from var(--angle), #fdb8ec, rgba(184, 0, 240, 0.468));
       filter: blur(5px);
        animation: rotate 2s linear infinite forwards;
      }
    
      &:hover{
        width: 28em;
        border-radius: 4em;
    
        &::before{
            display: none;
        }
    
        p{
            pointer-events: all;
            opacity: 1;
            transition: all 200ms;
            transition-delay: 200ms;
        }
    
        h1{
            opacity: 0;
        }
      }
    
      h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        letter-spacing: 0.1em;
        color: #ffe7e7;
      }
    
      p {
        cursor: default;
        display: flex;
        align-items: center;
        gap: .2em;
        font-weight: 600;
        opacity: 0;
        pointer-events: none;
        font-size: .8rem;
        a{
          cursor: pointer;
        }
      }
    }
    
}

@keyframes rotate {
    to{
        --angle: 360deg
    }
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}