<section>

    <header>
      <img src="/logo.svg" alt="Icon" />
    </header>
    
    <main>
      <div>
        <img src="/illustration-mockups.svg" alt="Mockup" />
      </div>
    
      <div>
        <h1>Build The Community Your Fans Will Love</h1>
        <p>Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion,</p>
        <button>Register</button>
      </div>
    </main>
    
    <footer>
        <div><img src="/facebook.svg" alt="facebook icon"></div>
        <div><img src="/logo-twitter.svg" alt="twitter icon"></div>
        <div><img src="/instagram.svg" alt="instagram icon"></div>
    </footer>
    
</section>

<app-credits></app-credits>